<%= form_for @appointement do |f| %>
  <% if @appointement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointement.errors.count, "error") %> prohibited this appointement from being saved:</h2>

      <ul>
      <% @appointement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :patient %><br>
    <%= f.collection_select :patient_id, Patient.all, :id, :name, include_blank: true %><br>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <p> Indicators </p>
    <%= link_to_add_indicators "Add Indicator", f, :appointement_indicators %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>


