<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @appointement.patient.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @appointement.description %>
</p>

<%= link_to 'Edit', edit_appointement_path(@appointement) %> |
<%= link_to 'Back', appointements_path %>
