<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @indicator.name %>
</p>

<p>
  <strong>Range:</strong>
  <%= @indicator.range %>
</p>

<%= link_to 'Edit', edit_indicator_path(@indicator) %> |
<%= link_to 'Back', indicators_path %>
